/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

.roboto-slab-REfont {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;letter-spacing: normal;
  font-size: 20px;
}
.testimonial cite span {
  display: block;
  color: rgb(241, 234, 234);
  font-size: 12px;
  font-weight: 300;
}
h2 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #0a65a0;
    position: relative;
    margin: 0 0 30px 0;
    line-height: 1.5;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
}
/* .h3hover {} */

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  /* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
/* h3 {
    /* onmouseover="h3hover.style.color= '#a94545'" */
    /* onmouseover="class = glowh3"
    onmouseout="h3hover.style.color= '#000000'" }*/

section.dark {
    background-color: #af3c3c !important;
    border-bottom: rgba(39, 17, 138, 0.144) 10px dashed;
}
#footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    background: linear-gradient(to bottom, #c9c8d4 0%, #666569 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#313131',GradientType=0 );
}
.redletterDay {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 10px blue;
    color: rgba(223, 25, 25, 0.6);
}